<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../static/mobile.css">
    <title>Budget Manager</title>
</head>

<body>
    <section class="login">
        <form action="/login" class="login__form" method="post">
            <h3 class="heading">Budget Manager</h3>
            <div class="form__group">
                <input placeholder="Enter username" type="text" id="username" autocomplete="off" name="username" required autofocus>
                <input type="submit" class="btn btn__primary" value="Login">
            </div>
        </form>
    </section>
</body>
</html>